*, :before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  font-weight: 400;
  width: 100%;
  background-color: #F8F8F8;
  color: #333;
  margin: 0;
}

.header {
	width: 600px;
    height: 50px;
    font-size: 100px;
    position: absolute;
    margin-top: -25px;
    margin-left: 475px;
    margin-right: 50%;
    vertical-align: middle
}

input[name="keyword"] {
    width: 600px;
    height: 50px;
    float: center;
    position: absolute;
    margin-top: 250px;
    margin-left: 425px;
    margin-bottom: 50%;
    margin-right: 50%;
    vertical-align: middle

/* When the input field gets focus, change its width to 100% */
}

input[name="location"] {
    width: 600px;
    height: 50px;
    float: center;
    position: absolute;
    margin-top: 325px;
    margin-left: 425px;
    margin-bottom: 100px;
    margin-right: 50%;
    vertical-align: middle
}
/* When the input field gets focus, change its width to 100% */

button[type="submit"] {
	width: 100px;
    height: 30px;
    float: center;
    position: relative;
    margin-top: 400px;
    margin-left: 675px;
    margin-bottom: 25px;
    margin-right: 50%;
    vertical-align: middle
}

.container {
    #width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;

}
.container ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}
.container ul li {
    width: 300px;
    height: 200px;
    margin: 30px; 
    background-color: green;
    float: left;
    font-size: 100px;
    text-align:center;
    padding:35px;
    #align: center;
}


